#headercom {
  width: 100%;
  position: sticky;
  -webkit-box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  vertical-align: middle;
  z-index: 9999;

  @supports ((position: -webkit-sticky) or (position: sticky)) or (position: -webkit-sticky) {
    position: -webkit-sticky;
    position: sticky;
  }

  a,
  li,
  ul,
  ol {
    text-decoration: none;
    list-style-type: none;
  }
}

.above_link {
  padding: 0 $container;
  height: 36px;
  background-color: $brand-yellow;
  vertical-align: middle;
  text-align: right;
  padding-top: $grid3x;

  a {
    height: 22px;
    margin: 0px 7px 7px 7px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $text333;
  }

  .above_first {
    width: 42px;
  }

  .above_second {
    width: 52px;
  }
}

.below_link {
  width: 100%;
  height: 84px;


  .home_logo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;

    img {
      height: 44px;
    }
  }

  .menubar {
    float: right;

    li {
      font-weight: 700;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      padding-left: $grid10x;
      padding-top: $grid6x;
      @include font-size($grid6x);

      &:not(:last-child) {
        padding-right: $grid10x;
      }

      a {
        color: $text111;

        &:hover {
          color: $brand-blue;
        }
      }

      ul {
        display: none;
        position: absolute;
      }

      &:hover {
        cursor: pointer;
        color: $brand-blue;

        ul {
          display: inline-block;
          width: 200px;
          padding: $grid9x 0 0 0;

          li {
            display: block;
            width: 100%;
            margin-top: 2px;
            background-color: #f0f0f0;
            text-align: center;
            padding: $grid4x 0;
            position: relative;
            @include font-size($grid4x);
          }
        }
      }
    }
  }
}
