/* ==============================
  media query breakpoints
============================== */
$mq_1240: "screen and (max-width : 1240px)";
$pro_land: "screen and (max-width : 1112px)";
$default: "screen and (max-width : 1080px)";
$pro2: "screen and (max-width : 834px )";
$tablet: "screen and (max-width : 768px )";
$landsc: "screen and (max-width : 640px )";
$middle: "screen and (max-width : 560px )";
$middle2: "screen and (max-width : 541px )";
$mq_480: "screen and (max-width : 480px )";
$pablet2: "screen and (max-width : 442px )";
$pablet: "screen and (max-width : 420px )";
$ip6: "screen and (max-width : 375px )";
$mobile: "screen and (max-width : 360px )";
$mini: "screen and (max-width : 320px )";

/* ==============================
  browser specific
============================== */
$chrome: "screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)";
$firefox: "screen and (min--moz-device-pixel-ratio:0) and (min-resolution: .001dpcm)";
$ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)";

/* ==============================
  필요에 따라 @ 뒤의 코드를 복붙!
============================== */
// edge
// @supports (-ms-ime-align:auto)

// safari
// @supports (-webkit-appearance:none)
