$width: 328px;
$input: 224px;
$width_inherited: 264px;
$height: $grid10x;

#signup {
  display: table;
  margin: $grid32x auto;

  .signup__wrapper {
    width: $width;
    display: table-cell;
    vertical-align: middle;
    text-align: center;


    .signup__wrapper-title {
      width: 144px;
      margin: 0 auto;
      display: block;
      height: $height;
      font-weight: 700;
      margin-bottom: $grid6x;
      border-bottom: solid $grid $brand-yellow;
      @include font-size($grid6x);
    }

    label {
      width: $width;
      display: flex;

      span {
        height: $height;
        text-align: left;
        display: inline-block;
        width: calc(#{$width} - #{$input});
        @include line-height($grid7x);
      }

      .signup__wrapper-input {
        width: $input;
        height: $height;
        margin-bottom: $grid3x;
        border: 1px solid #666;
      }
    }

    .signup__wrapper-btn {
      width: $width_inherited;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
      height: $grid12x;
      font-weight: 600;
      margin-top: $grid5x;
      background-color: $brand-blue;
      @include font-size($grid4x);
    }
  }
}
